
@import "~codemirror/addon/hint/show-hint.css";

#context-menu {
  position: fixed;
  z-index: 10000;
  width: 100px;
  background: #1b1a1a;
  border-radius: 10px;
  display: none;
}

#context-menu .contextMenuItem {
  width: 100px;
  font-size: 12px;
  color: #050505;
  text-align:left;
}
#context-menu.visible{
  display: block;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
  padding-left: 22px;
  position: relative;
  line-height: 1.5;  
}

.CodeMirror-hint:before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.CodeMirror-hint {
  color: black;
}

.function.CodeMirror-hint{
  background: yellow;
}

.function.CodeMirror-hint{
  background: grey;
  color: black;
}
.function.CodeMirror-hint:before {
  content: "F";
  background:rgb(53, 125, 203);
  color: black;
}
.function.CodeMirror-hint:hover{
  background: rgb(56, 56, 56);
}
.function.CodeMirror-hint-active {
  background: rgb(56, 56, 56);
}
.variable.CodeMirror-hint{
  background: grey;
  color: black;
}
.variable.CodeMirror-hint:before{
  color: black;
  content: "V";
  background: rgb(30, 210, 60);
}
.variable.CodeMirror-hint:hover{
  background: rgb(56, 56, 56);
}
.variable.CodeMirror-hint-active {
  background: rgb(56, 56, 56);
}
.module.CodeMirror-hint{
  background: grey;
  color: black;
}
.module.CodeMirror-hint:before{
  color: black;
  content: "M";
  background: rgb(0, 209, 246);
}
.module.CodeMirror-hint:hover{
  background: rgb(56, 56, 56);
}
.module.CodeMirror-hint-active {
  background: rgb(56, 56, 56);
}
.class.CodeMirror-hint{
  background: grey;
  color: black;
}
.class.CodeMirror-hint:before{
  color: black;
  content: "C";
  background: rgb(219, 62, 18);
}
.class.CodeMirror-hint:hover{
  background: rgb(56, 56, 56);
}
.class.CodeMirror-hint-active {
  background: rgb(56, 56, 56);
}


:root {
  --brackets: #f8f8f2;
  --cursor: #f8f8f0;
  --bg: #272822;
  --selection: #464646;
  --linenumber: #d0d0d0;
  --comment: #918e7b;
  --literal: #ae81ff;
  --attribute: #97b747;
  --def: #bc9262;
  --tag: #bc6283;
  --type: #5998a6;
  --property: #a6e22e;
  --keyword: #f92672;
  --builtin: #66d9ef;
  --string: #e6db74;
  --variable: #9effff;
  --function: #fd971f;
  --activebg: #373831;
  --fontsize: 10pt;
  --font: monospace;
}
.cm-s-theme.CodeMirror{
  font-family: var(--font);
  font-size: var(--fontsize);
}
/* Based on Sublime Text's monokai theme; from CodeMirror themes */

.cm-s-theme.CodeMirror { background: var(--bg); color: var(--brackets); }
.cm-s-theme div.CodeMirror-selected { background: var(--selection); }
.cm-s-theme .CodeMirror-line::selection, .cm-s-theme .CodeMirror-line > span::selection, .cm-s-theme .CodeMirror-line > span > span::selection { background: var(--selection); }
.cm-s-theme .CodeMirror-line::-moz-selection, .cm-s-theme .CodeMirror-line > span::-moz-selection, .cm-s-theme .CodeMirror-line > span > span::-moz-selection { background: var(--selection); }
.cm-s-theme .CodeMirror-gutters { background: var(--bg); border-right: 0px; }
.cm-s-theme .CodeMirror-guttermarker { color: var(--brackets); }
.cm-s-theme .CodeMirror-guttermarker-subtle { color: var(--linenumber); }
.cm-s-theme .CodeMirror-linenumber { color: var(--linenumber); }
.cm-s-theme .CodeMirror-cursor { border-left: 1px solid var(--cursor); }

.cm-s-theme span.cm-comment { color: var(--comment); }
.cm-s-theme span.cm-atom { color: var(--literal); }
.cm-s-theme span.cm-number { color: var(--literal); }

.cm-s-theme span.cm-comment.cm-attribute { color: var(--attribute); }
.cm-s-theme span.cm-comment.cm-def { color: var(--def); }
.cm-s-theme span.cm-comment.cm-tag { color: var(--tag); }
.cm-s-theme span.cm-comment.cm-type { color: var(--type); }

.cm-s-theme span.cm-property, .cm-s-theme span.cm-attribute { color: var(--property); }
.cm-s-theme span.cm-keyword { color: var(--keyword); }
.cm-s-theme span.cm-builtin { color: var(--builtin); }
.cm-s-theme span.cm-string { color: var(--string); }

.cm-s-theme span.cm-variable { color: var(--variable); }
.cm-s-theme span.cm-variable-2 { color: var(--variable); }
.cm-s-theme span.cm-variable-3, .cm-s-theme span.cm-type { color: var(--builtin); }
.cm-s-theme span.cm-def { color: var(--function); }
.cm-s-theme span.cm-bracket { color: var(--brackets); }
.cm-s-theme span.cm-tag { color: var(--keyword); }
.cm-s-theme span.cm-header { color: var(--literal); }
.cm-s-theme span.cm-link { color: var(--literal); }
.cm-s-theme span.cm-error { background: var(--keyword); color: var(--cursor); }

.cm-s-theme .CodeMirror-activeline-background { background: var(--activebg); }
.cm-s-theme .CodeMirror-matchingbracket {
  background: var(--selection);
  color: var(--cursor) !important;
}